extends layout.pug

block content
  h1 Books
    p
      a.button(href="/books/new") Create New Book
    form(action="/books/search", method="post")
      input(type="search", name="query", placeholder="Search for books")
      input(type="submit", value="Search")
  if books.length
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        each book in books
          tr
            td
              a(href=`/books/${book.id}`)= book.title
            td= book.author
            td= book.genre
            td= book.year
    each button in paginationButtons
      a.button(href=`?offset=${button}`)= button 
  else
    h3 No results have been returned for that query